#tecnologias-usadas{
    border-top: 1px solid #ececec;
}

#tecnologias-usadas h2{
    border-right: 1px solid #9EC7EF;
    color: #9EC7EF;
    display: block;
    float: left;
    font-size: 18px;
    padding-bottom: 16px;
    padding-top: 16px;
    text-align: right;
    width: 100px;
}
#tecnologias-usadas ul {
    display: block;
    float: left;
    height: 70px;
}
#tecnologias-usadas ul li, #tecnologias-usadas ul li a {
    display: inline-block;
    float: left;
    height: 66px;
}    