body {
    font-family: arial;
}
* {
    margin: 0;
    padding: 0;
}

.header {
    height: 53px;
    width: 100%;
    background-color: #3e8acf;
}

.header .title {
    width: 974px;
    margin: 0 auto;
    padding: 13px 0;
}
.header .title .logo {
    font-size: 24px;
    color: #7cd2ff;
    display: block;
    float: left;
    margin-left: 6px;
}
.header .title .logo-image {
    display: block;
    float: left;
    width: 108px;
    height: 26px;
    margin-top: 1px;
}
.header .title .link-back {
    display: block;
    float: right;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    margin-top: 4px;
}
.header .title .link-back:hover {
    text-decoration: underline;
}

.body {
    width: 974px;
    margin: 68px auto;
}

.fixedWidth {
    width: 150px;
    display: block;
    float: left;
}
.form {
    width: 487px;
    float: left;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -1px;
    padding-bottom: 14px;
    border-bottom: solid 1px #dcdcdc;
    margin-bottom: 40px;
    color: #333;
}
h3 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.options {
    margin-bottom: 28px;
}

.options div {
    margin-bottom: 8px;
    overflow: hidden;
}

.options div label {
    margin-left: 9px;
    font-size: 18px;
    font-weight: lighter;
    color: #333;
    letter-spacing: -1px;
    float: left;
}

.options div input {
    float: left;
    margin-top: 5px;
}

label {
    cursor: pointer;
}

.exibe-item-adicional {
    margin-bottom: 10px;
}


.item-adicional-options {
    margin-left: 23px;
    margin-bottom: 15px;
}
.item-adicional-options .options {
    margin-bottom: 0px;
}

.item-adicional-options input {
    width: 100%;
    height: 28px;
    border: solid 1px #ccc;
    margin-bottom: 17px;
}

.item-adicional-options label {
    display: block;
    font-size: 14px;
    color: #333;
}

.item-adicional-options label .exemplo {
    color: #999;
}

.legenda {
    margin-top: 35px;
    font-size: 14px;
    color: #333;
}

.preview {
    width: 447px;
    float: left;
    display: block;
    overflow: hidden;
    margin-left: 40px;
}
.preview textarea {
    width: 445px;
    height: 234px;
    border: solid 1px #e5e5e5;
    margin-bottom: 45px;
}

.footer {
    width: 100%;
    float: left;
}

.footer .gerar {
    width: 974px;
    border-top: solid 1px #dcdcdc;
    margin: 20px auto;
    padding: 32px 0;
}

.gerar button {
    border-top: solid 1px #6faef6;
    border-left: solid 1px #6faef6;
    border-right: solid 1px #1e56b1;
    border-bottom: solid 1px #1e56b1;
    width: 104px;
    height: 30px;
    margin-bottom: 10px;

    -moz-border-radius: 2px; /* Firefox */
    -webkit-border-radius: 2px; /* Safari, Chrome */
    border-radius: 2px; /* CSS3 */

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(51,140,241)),
        color-stop(1, rgb(37,105,215))
    );
    background-image: -moz-linear-gradient(
        center top,
        rgb(51,140,241) 0%,
        rgb(37,105,215) 100%
    );

}

.gerar button span {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    letter-spacing: -1px;
    display: block;
    margin-top: -2px;
}

